html, body {
    font-family: Raleway; 

    }
   body {
    background-color :#fcfcfc; 
    font-family: Raleway; 
    }
   h1 {
    font-family: Raleway; 
    }
    .nav {
        display: flex;
        align-content: row; 
    }
    .case{
        display: flex;
        align-content: row;
        
    }
    .filtres{
        border : 25px solid;
        display: flex;
        align-content: row;
    }
   .marseille {
       display: flex;
       align-content: flex-start;
       object-fit: cover;
       background-color: #F1F1F1;
   }
    .logo {
    width: 20%;
	height: 20%;
   }
   img {
       width: 100px;
       height: 100px;
       border-radius: 15px;
   }